body {
    background: #ffffff;
    font-family: 'Optima', sans-serif;
    color: #000;
    display: grid;
    align-items: center;
    grid-template-columns: 300px auto;
}

body:after {
    content: "CSS by Rebecca Riffle";
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 10px;
    font-size: 10pt;
}

h1 {
    padding: 10px;
    border-bottom-style: solid
    color: rgb(0, 0, 0);
    font-size: 48pt;
    font-family: 'Optima', sans-serif;
    text-decoration: underline;
    text-align: center;
}

h2 {
    grid-row-start: 1;
    grid-column-start: 1;
    grid-column-end: 3;
    color: rgb(0, 0, 0);
    font-size: 30pt;
    font-family: 'Optima', sans-serif;
    text-decoration: underline;
    text-align: center;
}

p {
    font-size: 12pt;
    font-famiy: 'Helventica', sans-serif;
    

ul {
    list-style-type: none;
    grid-row-start: 2;
    grid-column-start: 2;
    width: 200px;
    font-size: 14pt;
} 


li {
    padding-top: 5px;
}

a {
    color: rgb(28, 33, 104);
    display: inline-block;
    overflow: hidden;
    position: relative;
    vertical-align: bottom;
  }

img {
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
    
