body {
    background: #ffffff;
    font-family: 'Helvetica', sans-serif;
    color: #000;
}

body:after {
    content: "CSS by Rebecca Riffle";
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 10px;
    font-size: 10pt;
}

h1 {
    padding: 5px;
    border-bottom-style: solid 1px #892962;
    font-size: 48pt;
    font-family: 'Garamond', sans-serif;
    text-align: center;
}

h2 {
    color: rgb(137, 41, 98);
    font-size: 24pt;
    font-family: 'Garamond', sans-serif;
    text-align: center;
}

p {
    font-size: 12pt;
    font-famiy: 'Helvetica', sans-serif;
    
.button1 {
    background-color: #892962;
    border: bold 1px black;
    color: white;
    font-size: 24px;
    width: 300px;
    padding: 15px 32px;
    border-radius: 8px;
    transition-duration: 0.3s;
    }
    
.button1:hover {
  background-color: #e362af; 
  color: white;
}
    
.column1 {
  float: left;
  width: 33.33%;
}

.column2 {
  float: center;
  width: 33.33%;
}
   
.column3 {
  float: right;
  width: 33.33%;
}
    
/* The navbar container */
topnav {
  overflow: hidden;
  background-color: #333;
}

/* Navbar links */
topnav a {
  float: left;
  display: block;
  color: #892962;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Links - change color on hover */
 topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other on smaller screens (600px wide or less) */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }    
    
    
ul {
    list-style-type: none;
    grid-row-start: 2;
    grid-column-start: 2;
    width: 200px;
    font-size: 14pt;
} 


a {
    color: rgb(28, 33, 104);
    display: inline-block;
    overflow: hidden;
    position: relative;
    vertical-align: bottom;
  }

img {
    height: 100px
    width: 100px
    border: solid 1px black
    border-radius: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
    
li {
  display: inline;
}
    
.footer {
  background-color: #ffffff;
  text-align: center;
  padding: 10px;
}
