div.purpleheader {
  background: #c9a7bc;
  width: 100%;
  padding: 2px;
  align: center;
}

body {
    background: #ffffff;
    font-family: 'Helvetica', sans-serif;
    color: #000;
    align: center;
}

h1 {
    color: #ffffff;
  padding: 2px;
    text-align: center;
    border-bottom: 6px solid #892962;
    font-size: 40pt;
    font-family: 'Georgia', serif;
    width: 400px;
}

h2 {
    color: rgb(137, 41, 98);
    font-size: 24pt;
    font-family: 'Helvetica', sans-serif;
    font-style: italic;
    text-align: center;
}

p {
    text-indent:40px;
  font-size: 14pt;
    font-famiy: 'Helvetica', sans-serif;
  padding: 30px;
  align: center;
}

p.latin {
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
  font-style: italic;
}

img {
      display: block;
  margin-left: auto;
  margin-right: auto;
  height: 300px;
    width: 300px;
    border-radius: 150px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    
button.purple {
        display: block;
  margin-left: auto;
  margin-right: auto;
    background-color: #892962;
    border: bold 1px #000000;
    color: #ffffff;
    font-size: 24px;
    width: 300px;
    padding: 15px 32px;
    border-radius: 8px;
    transition-duration: 0.3s;
  align: center;
    }
    
button.purple:hover {
  background-color: #e362af; 
  color: white;
}
    
div.columns {
    column-count:3;
  align: center;
    column-gap:100;
    column-rule: 1px solid;
    column-width: 200px;
  padding:100px;
    }
    
div.footer {
  background-color: #c9a7bc;
  text-align: center;
  padding: 10px;
}

body:after {
    content: "CSS by Rebecca Riffle";
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 50px;
    font-size: 10pt;
}
